<a
  class="list-group-item clearfix">
  <span class="pull-left col-lg-1 col-md-2 col-xs-3 ">
        <img
          [src]="trackItem.album.cover"
          alt="{{ trackItem.artist.name }}"
          class="img-responsive"
          style="max-height: 100px;">
  </span>
  <div class="pull-left col-xs-9">
    <a data-toggle="collapse"
       href="#details{{trackItem.id}}" class="nounderline">
      <h3 class="list-group-item-heading">

        {{ trackItem.title }} <small> {{ trackItem.artist.name}}</small>

      </h3>
    </a>
    <div class="collapse" id="details{{trackItem.id}}">
      <hr>
      <div class="list-group-item-text">
        <div class="row">
          <div class="col-lg-3">
            <img
              [src]="trackItem.album.cover_medium"
              alt="{{ trackItem.artist.name }}"
              class="img-responsive">
          </div>
          <div class="col-lg-9">
            <div class="col-lg-4 col-xs-12 details">
              Album: {{ trackItem.album.title }}
            </div>
            <div class="col-lg-4 col-xs-12 details">
              Duration: {{ trackItem.duration }} seconds
            </div>
            <div class="col-lg-4 col-xs-12 details">
              <a href="{{ trackItem.link }}" target="_blank">More about this track</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
