
<a
  href="#"
  class="list-group-item clearfix"
>
  <span class="pull-left col-xs-2 col-lg-3">
        <img
          [src]="trackItem.album.cover"
          alt="{{ trackItem.artist.name }}"
          class="img-responsive"
          style="max-height: 100px;">
  </span>
  <div class="pull-left ">
    <h3 class="list-group-item-heading">{{ trackItem.title }} - <small>{{ trackItem.artist.name}}</small></h3>
    <div class="hidden">
      <hr>
      <p class="list-group-item-text"></p>
    </div>
  </div>

</a>
